{{#page}}
<div class="page-header">
  <h4>
    {{header}}
  </h4>
 </div>

 <div class="page-content">
   <p>
     {{{content}}}
   </p>
 </div>

 <div class="page-sidebar">
   <p>
     {{sidebar}}
   </p>
 </div>

 <div class="page-footer">
   <p>
     {{footer}}
   </p>
 </div>
{{/page}}
